.core-services {
  width: 100%;
}
.core-services-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.core-services-container h2 {
  padding: 50px 0;
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  /* margin-bottom: 20px; */
}
.services-grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.service-item {
  background-color: #ffffff;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
}
.icon1,
.icon2,
.icon3 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 10px;
}
.icon1::before,
.icon2::before,
.icon3::before {
  content: "";
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 0;
}
.icon1::before {
  background: #eff6ff;
}
.icon2::before {
  background: #effdf4;
}
.icon3::before {
  background: #fbf5ff;
}

.icon-img {
  width: 50px;
  height: 50px;
  padding: 10px;
  z-index: 1;
}
.service-item a {
  color: #ed734a;
  text-decoration: none;
}

.service-item p {
  font-size: 0.9375rem;
}
