.footer {
  width: 100%;
  background: #111828;
}
.footer-container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  color: azure;
}
.footer-cols {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #66666698;
  padding: 30px 0;
}
.footer-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.footer-col h4 {
  font-size: 13px;
}
.footer-theme {
  font-weight: normal;
}
.footer-col p {
  font-size: 13px;
  color: #647584;
}
.footer-col ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 13px;
  color: #647584;
  gap: 5px;
}
.footer-col ul li a {
  color: #647584;
  text-decoration: none;
}
.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons-container {
  width: 30px;
  height: 30px;
  position: relative;
}

/* 背景圆 */
.social-icons-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #666;
  border-radius: 50%;
  opacity: 0.5;
  z-index: 1; /* 背景层 */
}

/* 图标 */
.social-icons-container img {
  padding: 6px;
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
  position: relative;
  z-index: 2; /* 确保在背景之上 */
  pointer-events: none; /* 可选：防止点击穿透问题 */
}
.contact-us-img {
  width: 15px;
  height: 15px;
  margin-top: 3px;
}
.contact-us-li {
  display: flex;
}
.copyright {
  font-size: 13px;
  color: #647584;
  margin-bottom: 15px;
}
