.partners-media {
  width: 100%;
  background: #f6fafb;
}
.partners-media-container {
  width: 80%;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.partners-logos {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.partners-logos img {
  width: 100px;
  height: 50px;
}
.media-cards {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.media-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #f6fafb;
}
.media-card img {
  width: 100%;
  object-fit: contain;
}
.media-card p {
  font-size: 14px;
}
