/* reset.css - 重置样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* base.css - 基础样式 */
body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9fafc;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	line-height: 1.6; */
  color: #333;
  /* overflow-x: hidden; */
}

/* 移动端适配 */
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }

  body {
    overflow-x: hidden;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}